########################################################
###########            Config           ################
########################################################

###########   InoReader Config Options  ################

INO_USR     = ""    # Your InnoReader Username
INO_PSW     = ""    # Your InnoReader Password

# By default we download the starred items.
DOWNLOAD_LABEL = 'user/-/state/com.google/starred'
# By default we add the label 'Get' to any downloaded item
ARCHIVE_LABEL  = 'user/-/label/Get'

# Set this to True weather to tag the items based on their seed count > 0
DO_SEED_TAGGING = True 
# Tag for items with seed
HAS_SEED_LABEL = 'user/-/label/Seeded'
# Tag for items without seed
NO_SEED_LABEL = 'user/-/label/NoSeed'
RECOVERED_SEED_LABEL = 'user/-/label/RecoveredSeed'

###########    Deluge Config Options    ################

DLGD_HOST = '127.0.0.1' 
DLGD_PORT = 58846
DLGD_USER = 'delugeUser'
DLGD_PASS = "delugePassword"

# Set the base folder for your downloads
DOWNLOAD_BASE_FOLDER = "/home/user/Downloads/"

# Auto remove the finished torrs if they are not from the exception tracker below, and all files are downloaded.
REMOVE_SEEDS = False
#The trackers that we don't want auto remove the seeds
REMOVE_SEEDS_EXCEPTION_TRACKERS = [''] 