########################################################
###########            Config           ################
########################################################

INO_USR     = ""    # Your InnoReader Username
INO_PSW     = ""    # Your InnoReader Password

DOWNLOAD_BASE_FOLDER = "/home/user/Downloads/"
DOWNLOAD_LABEL = 'user/-/state/com.google/starred'
ARCHIVE_LABEL  = 'user/-/label/Get'

DO_SEED_TAGGING = True #weather to tag the items based on their seed count
HAS_SEED_LABEL = 'user/-/label/Seeded'
NO_SEED_LABEL = 'user/-/label/NoSeed'
RECOVERED_SEED_LABEL = 'user/-/label/RecoveredSeed'

DLGD_HOST = '127.0.0.1' 
DLGD_PORT = 58846
DLGD_USER = 'delugeUser'
DLGD_PASS = "delugePassword"
